In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('moviereviews.tsv',sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [3]:
display(df['label'].value_counts())
display(df.shape)
display(df.isnull().sum())

df.dropna(inplace=True)
display(df.shape)
display(df['label'].value_counts())

blanks = []
for i,lb,rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)
df.drop(blanks,inplace=True)
display(df.shape)
display(df['label'].value_counts())

pos    1000
neg    1000
Name: label, dtype: int64

(2000, 2)

label      0
review    35
dtype: int64

(1965, 2)

neg    983
pos    982
Name: label, dtype: int64

(1938, 2)

pos    969
neg    969
Name: label, dtype: int64

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/Users/daiglechris/opt/anaconda3/envs/nlp_course/lib/python3.7/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [5]:
sid = SentimentIntensityAnalyzer()

In [6]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))
df['compound'] = df['scores'].apply(lambda d:d['compound'])
df['comp_score'] = df['compound'].apply(lambda score: 'pos' if score >= 0 else 'neg')

In [10]:
y = df['label']
predictions = df['comp_score']
df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [11]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [18]:
print(f'Accuracy: {accuracy_score(y, predictions)}')
display(pd.DataFrame(confusion_matrix(y,predictions),
             index=['TrueNeg','TruePos'],
             columns=['PredNeg','PredPos']))
print(classification_report(y,predictions))

Accuracy: 0.6367389060887513

         PredNeg  PredPos
TrueNeg      427      542
TruePos      162      807

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

   micro avg       0.64      0.64      0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938