In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
plt.show()

In [2]:
data = pd.read_csv('/Users/mbair/Git/ConvexOptimizationWithPython/Data/gapminder_all.csv')
data.head()

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

In [3]:
time = list(range(1952,2008, 5))
time

[1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]

In [4]:
dfGDP = data[data.columns[range(0,14)]]
dfGDP.columns = ['continent', 'country', '1952', '1957', '1962', '1967', '1972', '1977', '1982', '1987', '1992', '1997', '2002', '2007']
dfGDP.head()

,continent,country,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

In [5]:
dfLifeExp = data[data.columns[list(range(0,2)) + list(range(14,26))]]
dfLifeExp.columns = ['continent', 'country', '1952', '1957', '1962', '1967', '1972', '1977', '1982', '1987', '1992', '1997', '2002', '2007']
dfLifeExp.head()

,continent,country,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
0,Africa,Algeria,43.077,45.685,48.303,51.407,54.518,58.014,61.368,65.799,67.744,69.152,70.994,72.301
1,Africa,Angola,30.015,31.999,34.000,35.985,37.928,39.483,39.942,39.906,40.647,40.963,41.003,42.731
2,Africa,Benin,38.223,40.358,42.618,44.885,47.014,49.190,50.904,52.337,53.919,54.777,54.406,56.728
3,Africa,Botswana,47.622,49.618,51.520,53.298,56.024,59.319,61.484,63.622,62.745,52.556,46.634,50.728
4,Africa,Burkina Faso,31.975,34.906,37.814,40.697,43.591,46.137,48.122,49.557,50.260,50.324,50.650,52.295

In [6]:
dfPop = data[data.columns[list(range(0,2)) + list(range(26,38))]]
dfPop.columns = ['continent', 'country', '1952', '1957', '1962', '1967', '1972', '1977', '1982', '1987', '1992', '1997', '2002', '2007']
dfPop.head()

,continent,country,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
0,Africa,Algeria,9279525.0,10270856.0,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,4232095.0,4561361.0,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1738315.0,1925173.0,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,442308.0,474639.0,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,4469979.0,4713416.0,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

In [15]:
dfPop

KeyError: 0

In [14]:
dfPopT = dfPop.T
dfPopT[list(range(0,141))]

,0,1,2,3,4,5,6,7,8,9,...,131,132,133,134,135,136,137,138,139,140
continent,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa,...,Europe,Europe,Europe,Europe,Europe,Europe,Europe,Europe,Europe,Oceania
country,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cameroon,Central African Republic,Chad,Comoros,...,Romania,Serbia,Slovak Republic,Slovenia,Spain,Sweden,Switzerland,Turkey,United Kingdom,Australia
1952,9.27952e+06,4.2321e+06,1.73832e+06,442308,4.46998e+06,2.44562e+06,5.00907e+06,1.2917e+06,2.68246e+06,153936,...,1.663e+07,6.86015e+06,3.55814e+06,1.48952e+06,2.85499e+07,7.12467e+06,4.815e+06,2.22357e+07,5.043e+07,8.69121e+06
1957,1.02709e+07,4.56136e+06,1.92517e+06,474639,4.71342e+06,2.66752e+06,5.35992e+06,1.39228e+06,2.89486e+06,170928,...,1.78293e+07,7.27114e+06,3.84428e+06,1.53307e+06,2.98416e+07,7.3638e+06,5.126e+06,2.56709e+07,5.143e+07,9.71257e+06
1962,1.10009e+07,4.82602e+06,2.1519e+06,512764,4.91963e+06,2.96192e+06,5.79363e+06,1.52348e+06,3.15042e+06,191689,...,1.86807e+07,7.61606e+06,4.23738e+06,1.58296e+06,3.11581e+07,7.56159e+06,5.666e+06,2.97887e+07,5.3292e+07,1.0795e+07
1967,1.27605e+07,5.24747e+06,2.42733e+06,553541,5.12794e+06,3.33099e+06,6.33551e+06,1.73364e+06,3.49597e+06,217378,...,1.92848e+07,7.97122e+06,4.44224e+06,1.64691e+06,3.28503e+07,7.86793e+06,6.063e+06,3.34113e+07,5.4959e+07,1.18723e+07
1972,1.47608e+07,5.89486e+06,2.76141e+06,619351,5.43389e+06,3.52998e+06,7.02103e+06,1.92726e+06,3.89907e+06,250027,...,2.06626e+07,8.31329e+06,4.59343e+06,1.69451e+06,3.45132e+07,8.12229e+06,6.4014e+06,3.7493e+07,5.6079e+07,1.3177e+07
1977,1.71528e+07,6.16268e+06,3.16827e+06,781472,5.88957e+06,3.83442e+06,7.95986e+06,2.16753e+06,4.38826e+06,304739,...,2.16586e+07,8.68637e+06,4.8278e+06,1.74692e+06,3.6439e+07,8.25165e+06,6.31642e+06,4.2404e+07,5.6179e+07,1.40741e+07
1982,2.00338e+07,7.01638e+06,3.6416e+06,970347,6.6346e+06,4.58041e+06,9.25083e+06,2.47697e+06,4.87512e+06,348643,...,2.23567e+07,9.03282e+06,5.04804e+06,1.86125e+06,3.79833e+07,8.32526e+06,6.46813e+06,4.73288e+07,5.63397e+07,1.51842e+07
1987,2.3255e+07,7.87423e+06,4.24379e+06,1.15118e+06,7.58655e+06,5.12602e+06,1.07807e+07,2.84001e+06,5.49896e+06,395114,...,2.26864e+07,9.23078e+06,5.19932e+06,1.94587e+06,3.88807e+07,8.4214e+06,6.64994e+06,5.28813e+07,5.69816e+07,1.62572e+07
1992,2.62984e+07,8.73599e+06,4.98167e+06,1.34261e+06,8.8783e+06,5.80924e+06,1.24672e+07,3.26512e+06,6.42942e+06,454429,...,2.2797e+07,9.8264e+06,5.30289e+06,1.99921e+06,3.95494e+07,8.71887e+06,6.99545e+06,5.81791e+07,5.78663e+07,1.7482e+07
1997,2.9072e+07,9.87502e+06,6.06608e+06,1.53654e+06,1.03528e+07,6.12161e+06,1.41958e+07,3.69651e+06,7.56201e+06,527982,...,2.25625e+07,1.03366e+07,5.38301e+06,2.01161e+06,3.98554e+07,8.89762e+06,7.19376e+06,6.30476e+07,5.88083e+07,1.85652e+07
2002,31287142,10866106,7026113,1630347,12251209,7021078,15929988,4048013,8835739,614382,...,22404337,10111559,5410052,2011497,40152517,8954175,7361757,67308928,59912431,19546792
2007,33333216,12420476,8078314,1639131,14326203,8390505,17696293,4369038,10238807,710960,...,22276056,10150265,5447502,2009245,40448191,9031088,7554661,71158647,60776238,20434176

SyntaxError: invalid syntax (<ipython-input-29-441ed642f1b7>, line 1)

In [35]:
dfGDP.columns = ['continent', 'country', '1952', '1957', '1962', '1967', '1972', '1977', '1982', '1987', '1992', '1997', '2002', '2007']
dfGDP.head()

,continent,country,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140]